.spinner {
    width: 70.4px;
    height: 70.4px;
    --clr: rgb(255, 255, 255);
    --clr-alpha: rgb(0, 0, 0, 0);
    /* Try changing the animation to 'spinner', 'spinner2', or 'spinner3' */
    animation: spinner 3s infinite ease;
    transform-style: preserve-3d;
    perspective: none;
  }
  
  .spinner > div {
    background-color: var(--clr-alpha);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);
  }
  
  .spinner div:nth-of-type(1) {
    transform: translateZ(-35.26px) rotateY(180deg);
  }
  
  .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }
  
  .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }
  
  .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
  }
  
  .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
  }
  
  .spinner div:nth-of-type(6) {
    transform: translateZ(35.26px);
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg) rotateX(-55deg) rotateY(46.5deg);
    }
  
    100% {
      transform: rotate(0deg) rotateX(-415deg) rotateY(406.5deg);
    }
  }
  @keyframes spinner2 {
    0% {
      transform: rotate(0deg) rotateX(-55deg) rotateY(46.5deg);
    }
  
    50% {
      transform: rotate(90deg) rotateX(-415deg) rotateY(46.5deg);
    }
  
    100% {
      transform: rotate(0deg) rotateX(-415deg) rotateY(406.5deg);
    }
  }
  @keyframes spinner3 {
    0% {
      transform: rotate(45deg) rotateX(0) rotateY(0);
    }
    
    50% {
      transform: rotate(0deg) rotateX(-144deg) rotateY(226.5deg);
    }
  
    100% {
      transform: rotate(45deg) rotateX(-360deg) rotateY(360deg);
    }
  }
  
  #container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }